* {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 0;
  text-transform: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

.splide__arrows {
  position: absolute;
  width: 95%;
  top: 120px;
  left: -2px;
}
